<%- include('./header.ejs') %>

    <div class="container">
        <div class="alert alert-primary text-center" role="alert">
            <b>Nuevo Producto</b>
        </div>
    </div>

    <form id="formulario" class="container" action="/api/productos" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label"><b>Título</b></label>
            <input type="text" class="form-control" id="name" name="title">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label"><b>Precio</b></label>
            <input type="number" class="form-control" id="price" name="price">
        </div>
        <div class="mb-3">
            <label for="picture" class="form-label"><b>Foto</b></label>
            <input type="text" class="form-control" id="picture" name="thumbnail" aria-describedby="pictureHelp">
            <div id="pictureHelp" class="form-text"><b>Dirección URL</b></div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

    <br>
    <br id="tablaProd">

    <div class="container">
        <div class="alert alert-primary text-center" role="alert">
            <b>Tabla de Productos</b>
        </div>
    </div>

    <div id="tabla"></div>

    <br>
    <br id="tablaChat">

    <div class="container">
        <div class="alert alert-primary text-center" role="alert">
            <b>Mensajes</b>>
        </div>

        <div id="" class="row">
            <label for="userEmail" class="form-label"><b>Usuario</b></label>
            <div class="col mb-3">
                <input type="email" class="form-control" id="userEmail" aria-describedby="pictureHelp">
                <div id="pictureHelp" class="form-text"><b>Ingrese e-mail</b></div>
            </div>

            <hr>
            <div id="chat"></div>
            <hr>

            <div class="col mb-3">
                <input type="text" class="form-control" id="userMsj" aria-describedby="pHelp">
                <div id="pHelp" class="form-text">Escriba su mensaje</div>
            </div>
            <div class="col">
                <button id="sendBtn" type="" class="btn btn-primary">Enviar mensaje</button>
            </div>
        </div>
        <hr>
    </div>
    </body>

    </html>
    